*
    margin: 0
    padding: 0
    box-sizing: border-box


html
    scroll-behavior: smooth


body
    font-family: 'Roboto', sans-serif

a
    text-decoration: none

button, 
a,
input
    outline: none


.contenedor
    width: 90%
    max-width: 1200px
    overflow: hidden
    margin: auto
    padding: 60px 0


