* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button,
a,
input {
  outline: none;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(24, 24, 24, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.head__titulo {
  font-size: 60px;
  padding-top: 18%;
  padding-bottom: 100px;
}

.head__boton {
  width: 200px;
  height: 60px;
  background: #fff;
  border: 2px solid #151515;
  font-weight: bold;
  cursor: pointer;
}
.head__boton:hover {
  background: #151515;
  color: #fff;
  border: 2px solid #fff;
}

.header__menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 100;
}
.header__menu .hamburguesa,
.header__menu .header__logo {
  color: #151515;
  margin: 0 30px 0 30px;
  font-size: 25px;
  cursor: pointer;
}
.header__menu .header__logo {
  font-weight: bold;
  text-decoration: none;
}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background: #C70039;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

.galeria {
  background: #f2f2f2;
}

#bufandas {
  background: #fafafa;
}

.galeria__contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.galeria__subtitulo {
  text-align: center;
  font-weight: 300;
  color: #581845;
  margin-bottom: 40px;
  font-size: 40px;
}

.img-galeria {
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s all ease;
}
.img-galeria:hover {
  filter: saturate(135%);
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  object-fit: cover;
  height: 95vh;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

.footer {
  background: #581845;
  padding-bottom: 0.1px;
}

.footer__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__contacto {
  width: 40%;
  color: #fff;
}

.footer__brand {
  font-weight: 500;
  font-size: 40px;
}

.footer__brand p {
  font-weight: 500;
}

.footer__redes {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.footer__icono {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.footer__icono:hover {
  background: #fff;
  color: #581845;
}

.footer__icono i {
  font-size: 30px;
  line-height: 60px;
}

.footer__linea {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

/*# sourceMappingURL=main.css.map */
